{% extends "core/base.html" %} 
{% block content %}
{% load static %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-innerv text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">{{object.date|date:"SHORT_DATE_FORMAT"}}</span>
            <span class="section-heading-lower">{{object.title}}</span>
          </h2>
          <p class="mb-0">
            <img
              class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
              src="{{object.image.url}}" 
              alt=""
            />
          </p>
          <p class="mb-0 mbt">
            {{object.content|linebreaksbr}}
          </p>
          <p class="mb-0 mbt">
            <span class="section-heading-under"
              >Publicado por <em><b>{{object.author}}</b></em> en
              <em><a href="#" class="link">{{object.categories.all|join:", "}}</a></em
              ></span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
